<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.uminate.devlauncher">

	<uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_developer_mode"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name="com.uminate.devlauncher.activities.MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.HOME" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.uminate.devlauncher.activities.AppActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.uminate.devlauncher.activities.MainActivity" />
		</activity>
		<activity
			android:name="com.uminate.devlauncher.activities.SettingsActivity"
			android:label="@string/settings" />
		<activity
			android:name="android.app.Activity"
			android:enabled="false"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.HOME" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>

</manifest>